/* =========================================================================================== 
                                        ROOT TOKEN
=========================================================================================== */
:root {
  --color-bg: #fff;
  --color-text: #111;
  --color-muted: #ddd;
  --color-point: #ff0000;

  --font-sans: "Pretendard", sans-serif;


}
